name: Staging

env:
  CARGO_TERM_COLOR: always

on:
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.target.name }} package
    runs-on: ${{ matrix.target.os }}
    strategy:
      matrix:
        target: [
            { name: aarch64-apple-darwin, os: macos-latest },
            {
              name: x86_64-pc-windows-msvc,
              os: windows-latest,
              extension: .exe,
            },
            # { name: x86_64-unknown-linux-gnu, os: ubuntu-latest },
          ]
    steps:
      - name: Fetch latest code
        uses: actions/checkout@v4
      - name: Setup Rust toolchain
        run: rustup target add ${{ matrix.target.name }}
      - name: Setup build environment (Linux)
        if: matrix.target.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install libasound2-dev libxdo-dev
      - name: Build
        run: cargo build --profile ci-release --locked --target ${{ matrix.target.name }}
      - name: Compress for macOS
        if: matrix.os == 'macos-latest'
        run: |
          mv target/${{ matrix.target.name }}/ci-release/air${{ matrix.target.extension }} .
          zip air-${{ matrix.target.name }}.zip air${{ matrix.target.extension }}
      - name: Compress for Windows
        if: matrix.os == 'windows-latest'
        run: |
          mv target/${{ matrix.target.name }}/ci-release/air${{ matrix.target.extension }} .
          Compress-Archive -Path air${{ matrix.target.extension }} -DestinationPath air-${{ matrix.target.name }}.zip
      - name: Compress for Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          mv target/${{ matrix.target.name }}/ci-release/air${{ matrix.target.extension }} .
          tar -czvf air-${{ matrix.target.name }}.tar.gz air${{ matrix.target.extension }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: air-${{ matrix.target.name }}
          path: air-${{ matrix.target.name }}.zst
          retention-days: 1

  staging:
    name: Staging
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: artifacts
          path: artifacts
      - name: Hash
        run: |
          mkdir -p artifacts
          mv air-*/* artifacts/
          cd artifacts
          sha256sum * | tee ../SHA256
          md5sum * | tee ../MD5
          mv ../SHA256 .
          mv ../MD5 .
          ls -al
      # - name: Publish
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     discussion_category_name: Announcements
      #     generate_release_notes: true
      #     files: artifacts/*

  # publish-on-crates-io:
  #   name: Publish on crates.io
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Fetch latest code
  #       uses: actions/checkout@v4
  #     - name: Login
  #       run: cargo login ${{ secrets.CARGO_REGISTRY_TOKEN }}
  #     - name: Publish
  #       run: cargo publish --locked
